@{
    ViewData["Title"] = "Unauthorized Role";
}

@inject IConfiguration Configuration

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">You do not have access to this service</h1>
    <p>Your account does not have the necessary permissions to access this service.</p>
    <p>Contact your organisation's approver to request the correct role required to access the Manage eligibility for free school meals service.</p>
    <p>You can also <a href="@Configuration["DfeSignIn:ContactUsUrl"]" class="govuk-link">contact DfE Sign-in</a> for more help.</p>
</div>
