@{
    ViewData["Title"] = "Unauthorized Organization";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">You are not authorized to access this service</h1>
    <p>This service is only available to Local Authority users.</p>
    <p>If you believe you should have access, please contact the <a href="@ViewBag.ContactUsUrl" class="govuk-link">Department for Education support desk</a> for more help.</p>
</div>
