@{
    ViewData["Title"] = "Unauthorized Role";
}

@inject IConfiguration Configuration

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">You do not have the required role to access this service</h1>
    <p>Your account does not have the necessary permissions to use this service.</p>
    <p>Please contact your local authority administrator to request the correct role for the "Check free school meals eligibility" service.</p>
    <p>Alternatively, contact the <a href="@Configuration["ContactUsUrl"]" class="govuk-link">Department for Education support desk</a> for more help.</p>
</div>
